In [1]:
from scipy.stats import norm
import numpy as np
import pandas as pd

In [3]:
a =pd.read_table('HR.txt',index_col=0)

In [5]:
CT=pd.crosstab(a['Attrition'],a['Gender'])
CT

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [7]:
n1=CT.iloc[:,0].sum()
n2=CT.iloc[:,1].sum()
x1=CT.iloc[1,0]
x2=CT.iloc[1,1]
x1,x2

(150, 87)

In [9]:
p1=x1/n1
p2=x2/n2
pp=(x1+x2)/(n1+n2)

In [13]:
zdata=(p1-p2)/np.sqrt((pp*(1-pp))*(1/n1+1/n2))
zdata

1.1292547809155016

In [14]:
pval=2*(1-norm.cdf(abs(zdata)))
pval

0.2587903704911598

In [16]:
def twosampz(x1,x2,n1,n2):
    p1=x1/n1
    p2=x2/n2
    pp=(x1+x2)/(n1+n2)
    zdata=(p1-p2)/np.sqrt((pp*(1-pp))*(1/n1+1/n2))
    pval=2*(1-norm.cdf(abs(zdata)))
    return round(zdata,3),round(pval,4)

In [17]:
twosampz(x1,x2,n1,n2)  # Z and P value

(1.129, 0.2588)

# Proprotion Test for Migraine Data

In [20]:
M=pd.read_csv('Migraine.csv',index_col=0)

In [22]:
M.head()

   id  time  dos hatype  age  airq  medication headache  Gender
1   1   -11  753   Aura   30   9.0  continuing      yes  female
2   1   -10  754   Aura   30   7.0  continuing      yes  female
3   1    -9  755   Aura   30  10.0  continuing      yes  female
4   1    -8  756   Aura   30  13.0  continuing      yes  female
5   1    -7  757   Aura   30  18.0  continuing      yes  female

In [25]:
M['hatype'].value_counts()

No Aura    1985
Aura       1710
Mixed       457
Name: hatype, dtype: int64

In [26]:
M.shape

(4152, 9)

In [30]:
M['Gender'].value_counts()

female    3545
male       607
Name: Gender, dtype: int64

In [32]:
M['headache'].value_counts()

yes    2666
no     1486
Name: headache, dtype: int64

In [38]:
CT=pd.crosstab(M['headache'],M['Gender'])
CT

Gender    female  male
headache
no          1266   220
yes         2279   387

In [69]:
p1=387/607
p2=2279/3545
pp=(x1+x2)/(n1+n2)
p1,p2,pp

(0.6375617792421746, 0.6428772919605078, headache
 no     1.794078
 yes    1.000000
 dtype: float64)

In [39]:
x1=CT.iloc[1,1]
x2=CT.iloc[1,0]
n1=CT.iloc[:,1]
n2=CT.iloc[:,0]

In [43]:
pval=2*(1-norm.cdf(abs(zdata)))
pval

0.2587903704911598

In [75]:
def twosampz(x1,x2,n1,n2):
    p1=(x1/n1)
    p2=(x2/n2)
    pp=(x1+x2)/(n1+n2)
    zdata=(p1-p2)/np.sqrt((pp*(1-pp))*(1/n1+1/n2))
    pval=2*(1-norm.cdf(abs(zdata)))
    return
round(zdata,3),round(pval,4)

(1.129, 0.2588)